@import url("../../root.css");
html{
    font-size: 10px;
}
body{
    /* background-color: #6C8F24; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: var(--primary-color);
    padding: 2rem 3rem 2rem 2rem;
    
}

.nav-links{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    justify-content: space-between;
}